<!DOCTYPE html>
<html>
<head>
  <title>Image Search</title>
</head>
<body>
  <h1>Image Search</h1>

  <h3>
    Add something to the current end point
  </h3>
  
  <p>
    Example Search:
    https://image-search-wilson.glitch.me/api/image-search/dragons?offset-10
    
  </p>
    Latest Searches:
    https://image-search-wilson.glitch.me/api/image-search-latest
  <p>
    
</body>
</html>

